[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates
*.suo
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.idea/
*.sln.iml
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/
appsettings.Development.json
appsettings.Local.json
setup-secrets.sh
setup-secrets.bat
.env